* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

div#container {
    display: flex;
    flex-direction: column;
}


header {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

div#image_wrapper {
    width: 100%;
    height: auto;
}

div#image_wrapper img {
    flex: 1;
    width: 100%;
    height: auto;
    padding: 2em;
}

header h1 {
    font-size: 5vw;
    margin-bottom: 1em;
}

div#main_content {
    display: inherit;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 3px solid #464646;
}

div#main_content h2 {
    font-size: 3vw;
    text-align: center;
}

section#search_params {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

select {
    font-size: 1em;
    margin-top: 0.5em;
}

div#main_content label {
    font-size: 1.5em;
    margin-top: 0.2em;
}

input[type= 'checkbox'] {
    height: 1.5em;
}

button {
    height: 2em;
    width: 5em;
    font-size: 1em;
    margin-top: 0.5em;
}

button:hover {
    font-weight: bold;
    background-color: #0f0;
}

section#search_results {
    margin-top: 0.5em;
    display: inherit;
    flex-direction: column;
}

label#results_label {
    font-size: 1.5em;
}

div#results {
    display: inherit;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    background-color: #000;
    overflow: auto;
    padding: 1em;  
    color: #fff; 
    font-size: 25px;
}

div#movies {
    display: inherit;
    flex-direction: column;
    width: 100%;
}

.movie_row {
    display: inherit;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

span {
    width: 20%;
}

.heading_row {
    display: inherit;
    width: 100%;
    justify-content: space-between;
}

.heading_row h3 {
    width: 20%;
}

div#page_nav button {
    margin-top: 0.5em;
}